:root {
    --main-color: #2995E2;
    --gray: #8E8E8E;
    --black-gray: #4f4f4f;
    --white: #f1f1f1;
    --black: #242424;
    --small-text: 15px;
    --medium-text: 19px;
    --main-text: 90px;
    --sub-title: 44px;
    --sub-header: 28px;
    --page-width: 90%;
    --center-page: 0 auto;
    --section-padding: 5% 5% 3%;
}


*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Cairo", sans-serif;
    background-color: #f1f1f1;
}

img{
    object-fit: contain;
    width: 100%;
}

/*offset button style*/

/*offset button style*/

.page-width{
    width: var(--page-width);
    margin: var(--center-page);
}

.button{
    padding: 5px 20px;
    font-size: var(--small-text);
}

.outline-button{
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 5px 30px;
    font-size: var(--small-text);
}

.blue-text{
    color: var(--main-color);
}

.sub-title{
    font-size: var(--sub-title);
}

.sub-text{
    font-size: var(--sub-header);
    color: var(--black-gray);
}

.navbar-section{
    height: 7vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a{
    color: var(--black-gray);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-size: var(--small-text);
}

.active-link{
    color: var(--black);
    font-weight: bold;
}

/*main section styles*/
.main-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 5rem;
}

.main-text{
    font-size: var(--main-text);
    color: var(--black);
}

.main-description{
    font-size: var(--medium-text);
    color: var(--black-gray);
}

/*about section*/
.about-section{
    margin-top: 7rem;
}

.about{
    width: 40%;
    margin: var(--center-page);
    padding: var(--section-padding);
}

.about .sub-title{
    text-align: center;
    color: var(--main-text);
}

.about p{
    color: var(--black-gray);
    font-size: var(--medium-text);
    /*width: 70%;*/
    text-align: center;
    margin: var(--center-page);
}

/*services section*/
.services{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.service-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services p{
    color: var(--black-gray);
    font-size: var(--medium-text);
    width: 70%;
}


.services .sub-title{
    color: var(--main-color);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-item-one {
    flex-basis: calc(45% - 0.75rem);
}

.flex-item-two {
    flex-basis: calc(55% - 0.75rem);
}

.right-auto{
    align-items: end;
}

/*call to action section*/
.call-to-action {
    width: 60%;
    margin: var(--center-page);
    height: 30vh;
    background-color: var(--main-color);
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 7rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.call-to-action .sub-title {
    color: var(--white);
    align-self: flex-end;
}


.call-to-action .absolute{
    position: absolute;
}

/*contact form section*/
.contact-form{
    margin-top: 7rem;
    width: 70%;
    padding: var(--section-padding);
}

.contact-form-fields{
    display: flex;
    align-items: center;
    gap: 2rem;
}

form{
    width: 100%;
}

input{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
}